<!-- Wrapper-->
<div id="wrapper">

	<!-- Navigation -->
	<div ng-include="'views/main/mainNavigation.html'"></div>
	<!-- Page wraper -->
	<div id="page-wrapper" class="gray-bg {{$state.current.name}}">

		<!-- Top Nav bar -->
		<div ng-include="'views/main/mainHeader.html'"></div>

		<!-- Message Bar-->
		<div class="col-md-12" ng-show="main.alert.show">
			<uib-alert type="{{main.alert.type}}"
					   close="main.closeAlert()"
					   dismiss-on-timeout="{{main.alert.dismissOnTimeout}}">
				{{main.alert.text}}
			</uib-alert>
		</div>
		<!-- Main view -->
		<div ui-view></div>

		<!-- Footer -->
		<!--<div ng-include="'views/common/footer.html'"></div>-->

	</div>
	<!-- End page wrapper-->

</div>
<!-- End wrapper-->