<div class="row border-bottom">
	<nav class="navbar navbar-static-top white-bg" style="margin-bottom: 0">
		<ul class="nav navbar-top-links navbar-left">
			<li class="fc-header-title">
				<h4> </h4>
			</li>
		</ul>
		<ul class="nav navbar-top-links navbar-right">
			<li>
				<a href="">
					<i class="fa fa-sign-out"></i> Log out
				</a>
			</li>
		</ul>
	</nav>
	<!-- Message Bar-->
	<div class="col-md-12 small" ng-show="main.alert.show">
		<uib-alert type="{{main.alert.type}}"
		           close="main.closeAlert()"
		           dismiss-on-timeout="{{main.alert.dismissOnTimeout}}">
			{{main.alert.text}}
		</uib-alert>
	</div>
</div>