<form name="propertyDtl.form" role="form" class="form-horizontal" save-registration>
	<br />
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="form-group">
				<label class="col-md-2" for="propertyName">Property Name</label>
				<div class="col-md-10">
					<input type="text" id="propertyName" class="form-control" ng-model="propertyDtl.property.Name" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-2">Customer</label>
				<div class="col-md-10">
					<input type="text" id="customerName" class="form-control" ng-model="propertyDtl.property.CustomerName" />
				</div>
			</div>
		</div>
	</div>
</form>