<form name="property.form" role="form" class="form-horizontal" save-registration>
	<br/>
	<div class="col-md-5">
		<div class="panel panel-default">
			<div class="panel-body">
				<address>
					<strong>{{ property.property.Name }}</strong><br>
					{{ property.property.StreetAddress }}<br>
					{{ property.property.AddressCity }}, {{ property.property.AddressState }} {{ property.property.AddressZip }}<br>
				</address>
				<address>
					<strong>{{property.property.CustomerName}}</strong><br>
					{{ property.property.PrimaryContactName }}<br>
					<abbr title="P">P:</abbr> {{ property.property.PrimaryContactNamePhone }}<br/>
					<a href="mailto:#">first.last@example.com</a>
				</address>
			</div>
		</div>
	</div>
	<div class="col-md-7">
		<div ui-view="quotes"></div>
	</div>
</form>