<form name="workOrderDtl.form" role="form" class="container form-horizontal" save-registration>
	<div class="form-group">
		<div class="col-md-12 text-right">
			<div class="btn btn-group">
				<button type="button" class="btn btn-primary" ng-click="workOrderDtl.addItem()">Print</button>
				<button type="button" class="btn btn-primary" ng-click="workOrderDtl.closeQuote()">Close</button>
				<button type="button" class="btn btn-primary" ng-click="workOrderDtl.addItem()">Back</button>
			</div>
		</div>
	</div>
	<div class="panel-group">
		<div class="panel panel-default">
			<div class="panel-body">
				<!--<div class="form-group" ng-if="workOrderDtl.workOrder.Type===3">
					<label class="col-md-2" for="projectTitle">Project Title</label>
					<div class="col-md-10">
						<input type="text" id="projectTitle" class="form-control" ng-model="workOrderDtl.workOrder.Title"/>
					</div>
				</div>-->
				<div>
					<label class="col-md-2">Customer</label>
					<div class="col-md-10">
						<p>{{workOrderDtl.workOrder.OrderItem.Order.Customer.Name}} / {{workOrderDtl.workOrder.OrderItem.Order.Property.Name}}</p>
					</div>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">Service</div>
			<div class="panel-body">
				<div class="col-md-12">
					<div>
						<label class="col-md-2">Name</label>
						<div class="col-md-10">
							<p>{{ workOrderDtl.workOrder.OrderItem.Service.Name }}</p>
						</div>
						<label class="col-md-2">Description</label>
						<div class="col-md-10">
							<p>{{ workOrderDtl.workOrder.OrderItem.Service.Description }}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">Materials</div>
			<div class="panel-body">
				<div class="col-md-12">
					<div>
						<label class="col-md-2">Name</label>
						<div class="col-md-6">
							<p>{{ workOrderDtl.workOrder.OrderItem.Material.Name }}</p>
						</div>
						<label class="col-md-2">Quantity</label>
						<div class="col-md-2">
							<p>{{ workOrderDtl.workOrder.OrderItem.MaterialQuantity }}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">Work</div>
			<div class="panel-body">
				<div class="col-md-12">
					<div>
						<label class="col-md-2">Est. Man Hours</label>
						<div class="col-md-10">
							<p>{{ workOrderDtl.workOrder.OrderItem.ServiceQuantity }}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br/>
	<div class="form-group">
		<div class="col-md-12 text-right">
			<button type="button" class="btn btn-primary" ng-click="workOrderDtl.addItem()">Save</button>
		</div>
	</div>
	<pre>{{ workOrderDtl.workOrder | json}}</pre>

</form>