<form name="workOrderDtl.form" role="form" class="container form-horizontal" save-registration>
	<div class="btn btn-group">
		<button type="button" class="btn btn-primary" ng-click="workOrderDtl.addItem()">Print</button>
		<button type="button" class="btn btn-primary" ng-click="workOrderDtl.closeQuote()">Close</button>
		<button type="button" class="btn btn-primary" ng-click="workOrderDtl.addItem()">Back</button>
	</div>
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="form-group" ng-if="workOrderDtl.quote.Type===3">
				<label class="col-md-2" for="quoteTitle">Quote Title</label>
				<div class="col-md-10">
					<input type="text" id="quoteTitle" class="form-control" ng-model="workOrderDtl.quote.Title"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-2">For</label>
				<div class="col-md-10">
					<p>{{workOrderDtl.workOrder.OrderItem.CustomerName}} / {{workOrderDtl.quote.PropertyName}}</p>
				</div>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="col-md-4">
				<div class="form-group">
					<label class="col-md-4" for="type">Type</label>
					<div class="col-md-8">
						<ui-select ng-model="workOrderDtl.quote.Type" theme="bootstrap">
							<ui-select-match placeholder="Select a type">{{$select.selected.Name}}</ui-select-match>
							<ui-select-choices repeat="type.Id as type in workOrderDtl.types | filter: $select.search ">
								<span ng-bind-html="type.Name | highlight: $select.search"></span>
							</ui-select-choices>
						</ui-select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-4" for="season">Season</label>
					<div class="col-md-8">
						<ui-select ng-model="workOrderDtl.quote.Season" theme="bootstrap">
							<ui-select-match placeholder="Select a season">{{$select.selected.Name}}</ui-select-match>
							<ui-select-choices repeat="season.Id as season in workOrderDtl.seasons | filter: $select.search ">
								<span ng-bind-html="season.Name | highlight: $select.search"></span>
							</ui-select-choices>
						</ui-select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-4" for="status">Status</label>
					<div ng-class="workOrderDtl.quote.StatusDesc === 'Open' ? 'col-md-6' : 'col-md-8'">
						<input id="status" type="text" class="form-control" ng-model="workOrderDtl.quote.StatusDesc" readonly/>
					</div>
					<div ng-if="workOrderDtl.quote.StatusDesc === 'Open'" class="input-group-btn">
						<a class="btn" ng-click="workOrderDtl.closeQuote()">
							<i class="fa fa-sign-out fa-1x"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label class="col-md-7">Year</label>
					<div class="col-md-5">
						<input type="text" id="contractYear" class="form-control text-right" ng-model="workOrderDtl.quote.ContractYear"/>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-7">Term (Years)</label>
					<div class="col-md-5">
						<input type="text" id="contractTermYears" class="form-control text-right" ng-model="workOrderDtl.quote.ContractTermYears" ng-change="workOrderDtl.setIncrease()"/>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-7">Increase %</label>
					<div class="col-md-5">
						<input type="text" id="annualIncreasePercentage" class="form-control text-right" ng-model="workOrderDtl.quote.AnnualIncreasePercentage" ng-disabled="workOrderDtl.quote.ContractTermYears<=1"/>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label class="col-md-5"># Payments</label>
					<div class="col-md-4">
						<input type="text" id="numberOfPayments" class="form-control text-right" ng-model="workOrderDtl.quote.NumberOfPayments"/>
					</div>
					<div class="checkbox-inline">
						<label>
							<input type="checkbox" id="taxable" ng-model="workOrderDtl.quote.Taxable" ng-change="workOrderDtl.calculateTotals()"/>Tax?
						</label>
					</div>

				</div>
				<div class="form-group">
					<label class="col-md-5">Billing Starts</label>
					<div class="col-md-7">
						<ui-select ng-model="workOrderDtl.quote.BillingStart" theme="bootstrap">
							<ui-select-match placeholder="Select a month">{{$select.selected.Name}}</ui-select-match>
							<ui-select-choices repeat="month.Id as month in workOrderDtl.months | filter: $select.search ">
								<span ng-bind-html="month.Name | highlight: $select.search"></span>
							</ui-select-choices>
						</ui-select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-5">Billing Day</label>
					<div class="col-md-7">
						<ui-select ng-model="workOrderDtl.quote.BillingDay" theme="bootstrap">
							<ui-select-match placeholder="Select a day">{{$select.selected.Name}}</ui-select-match>
							<ui-select-choices repeat="billingDay.Id as billingDay in workOrderDtl.billingDays | filter: $select.search ">
								<span ng-bind-html="billingDay.Name | highlight: $select.search"></span>
							</ui-select-choices>
						</ui-select>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="form-group">
				<div class="col-md-4"></div>
				<label class="col-md-4 text-center">Price</label>
				<label class="col-md-4 text-center">Cost</label>
			</div>
			<div class="form-group">
				<label class="col-md-4">Labor</label>
				<div class="col-md-4">
					<input type="text" id="totalPriceLabor" class="form-control text-right" ng-model="workOrderDtl.quote.TotalPriceLabor | number: 2" readonly />
				</div>
				<div class="col-md-4">
					<input type="text" id="totalCostLabor" class="form-control text-right" ng-model="workOrderDtl.quote.TotalCostLabor | number: 2" readonly/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-4">Materials</label>
				<div class="col-md-4">
					<input type="text" id="totalPriceMaterials" class="form-control text-right" ng-model="workOrderDtl.quote.TotalPriceMaterials | number: 2" readonly/>
				</div>
				<div class="col-md-4">
					<input type="text" id="totalCostMaterials" class="form-control text-right" ng-model="workOrderDtl.quote.TotalCostMaterials | number: 2" readonly/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-4">Total</label>
				<div class="col-md-4">
					<input type="text" id="totalPricePretax" class="form-control text-right" ng-model="workOrderDtl.quote.TotalPricePretax | number: 2" readonly/>
				</div>
				<div class="col-md-4">
					<input type="text" id="totalCost" class="form-control text-right" ng-model="workOrderDtl.quote.TotalCost | number: 2" readonly/>
				</div>
			</div>
		</div>
	</div>
	<div>
		<div id="quoteItemsGrid" class="grid" ui-grid="workOrderDtl.gridConfig"></div>
	</div>
	<br/>
	<div class="form-group">
		<div class="col-md-12 text-right">
			<button type="button" class="btn btn-primary" ng-click="workOrderDtl.addItem()">New</button>
		</div>
	</div>
</form>