<div class="row border-bottom">
	<nav class="navbar navbar-static-top white-bg" style="margin-bottom: 0">
		<ul class="nav navbar-top-links navbar-left">
			<li class="fc-header-title">
				<h4> </h4>
			</li>
		</ul>
		<ul class="nav navbar-top-links navbar-right">
			<li>
				<a href="">
					<i class="fa fa-sign-out"></i> Log out
				</a>
			</li>
		</ul>
		<div class="col-md-3">
			<div class="row">
				<div class="col-md-6">
					<div class="button text-and-icon left error" ng-show="form.$dirty">
						<button ng-click="confirmCancel()" name="headerCancelButton">
							<span class="icon icon-x"></span>
							<div>
								<span>Cancel</span>
							</div>
						</button>
					</div>
				</div>
				<div class="col-md-6">
					<div class="button text-and-icon left success" ng-show="form.$dirty">
						<button ng-click="save()" name="headerSaveButton">
							<span class="icon icon-save"></span>
							<div>
								<span>Save</span>
							</div>
						</button>
					</div>
				</div>
			</div>
		</div>

	</nav>
	<!-- Message Bar-->
</div>
<!--<div class="col-md-12 small" ng-show="main.alert.show">
	<uib-alert type="{{main.alert.type}}"
			   close="main.closeAlert()"
			   dismiss-on-timeout="{{main.alert.dismissOnTimeout}}">
		{{main.alert.text}}
	</uib-alert>
</div>-->

<div class="col-md-6 col-md-offset-3" ng-show="form.$pristine && saveSucceeded">
	<info-message type="success">
		<p>SaveSuccess</p>
	</info-message>
</div>

<div class="col-md-6 col-md-offset-3" ng-show="form.$invalid">
	<info-message type="error">
		<p>SaveFailure</p>
	</info-message>
</div>


