<div class="row border-bottom">
	<nav class="navbar navbar-static-top white-bg" style="margin-bottom: 0">
		<ul class="nav navbar-top-links navbar-left">
			<li class="fc-header-title">
				<h1>{{ $state.current.data.module}}</h1>
			</li>
		</ul>
		<ul class="nav navbar-top-links navbar-right">
			<li>
				<a ng-click="save()" ng-show="form.$dirty">
					<i class="fa fa-floppy-o"></i> Save
				</a>
			</li>
			<li>
				<a ng-click="confirmCancel()" ng-show="form.$dirty">
					<i class="fa fa-undo"></i> Cancel
				</a>
			</li>
			<li>
				<a ng-click="back()">
					<i class="fa fa-sign-out"></i> Back
				</a>
			</li>
		</ul>
	</nav>
	<!-- Message Bar-->
</div>
<!--<div class="col-md-12 small" ng-show="main.alert.show">
	<uib-alert type="{{main.alert.type}}"
	           close="main.closeAlert()"
	           dismiss-on-timeout="{{main.alert.dismissOnTimeout}}">
		{{main.alert.text}}
	</uib-alert>
</div>-->

<div class="col-md-6 col-md-offset-3" ng-show="form.$pristine && saveSucceeded">
	<info-message type="success">
		<p>SaveSuccess</p>
	</info-message>
</div>

<div class="col-md-6 col-md-offset-3" ng-show="form.$invalid">
	<info-message type="error">
		<p>SaveFailure</p>
	</info-message>
</div>