<form name="quoteDtl.form" role="form" class="form-horizontal" save-registration>
	<br/>
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="form-group" ng-if="quoteDtl.quote.Type===3">
				<label class="col-md-2" for="quoteTitle">Quote Title</label>
				<div class="col-md-10">
					<input type="text" id="quoteTitle" class="form-control" ng-model="quoteDtl.quote.Title"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-2">Prepared For</label>
				<div class="col-md-10">
					<p>{{quoteDtl.quote.CustomerName}} / {{quoteDtl.quote.PropertyName}}</p>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-12 panel panel-default">
		<div class="panel-body">
			<div class="col-md-4">
				<div class="form-group">
					<label class="col-md-4" for="type">Type</label>
					<div class="col-md-8">
						<ui-select ng-model="quoteDtl.quote.Type" theme="bootstrap">
							<ui-select-match placeholder="Select a type">{{$select.selected.Name}}</ui-select-match>
							<ui-select-choices repeat="type.Id as type in quoteDtl.types | filter: $select.search ">
								<span ng-bind-html="type.Name | highlight: $select.search"></span>
							</ui-select-choices>
						</ui-select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-4" for="season">Season</label>
					<div class="col-md-8">
						<ui-select ng-model="quoteDtl.quote.Season" theme="bootstrap">
							<ui-select-match placeholder="Select a season">{{$select.selected.Name}}</ui-select-match>
							<ui-select-choices repeat="season.Id as season in quoteDtl.seasons | filter: $select.search ">
								<span ng-bind-html="season.Name | highlight: $select.search"></span>
							</ui-select-choices>
						</ui-select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-4" for="status">Status</label>
					<div ng-class="quoteDtl.quote.StatusDesc === 'Open' ? 'col-md-6' : 'col-md-8'">
						<input id="status" type="text" class="form-control" ng-model="quoteDtl.quote.StatusDesc" readonly/>
					</div>
					<div ng-if="quoteDtl.quote.StatusDesc === 'Open'" class="input-group-btn">
						<a class="btn" ng-click="quoteDtl.closeQuote()">
							<i class="fa fa-sign-out fa-1x"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label class="col-md-7">Year</label>
					<div class="col-md-5">
						<input type="text" id="contractYear" class="form-control text-right" ng-model="quoteDtl.quote.ContractYear"/>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-7">Term (Years)</label>
					<div class="col-md-5">
						<input type="text" id="contractTermYears" class="form-control text-right" ng-model="quoteDtl.quote.ContractTermYears" ng-change="quoteDtl.setIncrease()"/>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-7">Increase %</label>
					<div class="col-md-5">
						<input type="text" id="annualIncreasePercentage" class="form-control text-right" ng-model="quoteDtl.quote.AnnualIncreasePercentage" ng-disabled="quoteDtl.quote.ContractTermYears<=1"/>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label class="col-md-5"># Payments</label>
					<div class="col-md-4">
						<input type="text" id="numberOfPayments" class="form-control text-right" ng-model="quoteDtl.quote.NumberOfPayments"/>
					</div>
					<div class="checkbox-inline">
						<label>
							<input type="checkbox" id="taxable" ng-model="quoteDtl.quote.Taxable" ng-change="quoteDtl.calculateTotals()"/>Tax?
						</label>
					</div>

				</div>
				<div class="form-group">
					<label class="col-md-5">Billing Starts</label>
					<div class="col-md-7">
						<ui-select ng-model="quoteDtl.quote.BillingStart" theme="bootstrap">
							<ui-select-match placeholder="Select a month">{{$select.selected.Name}}</ui-select-match>
							<ui-select-choices repeat="month.Id as month in quoteDtl.months | filter: $select.search ">
								<span ng-bind-html="month.Name | highlight: $select.search"></span>
							</ui-select-choices>
						</ui-select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-5">Billing Day</label>
					<div class="col-md-7">
						<ui-select ng-model="quoteDtl.quote.BillingDay" theme="bootstrap">
							<ui-select-match placeholder="Select a day">{{$select.selected.Name}}</ui-select-match>
							<ui-select-choices repeat="billingDay.Id as billingDay in quoteDtl.billingDays | filter: $select.search ">
								<span ng-bind-html="billingDay.Name | highlight: $select.search"></span>
							</ui-select-choices>
						</ui-select>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-12 panel panel-default">
		<div class="panel-body">
			<div class="form-group">
				<div class="col-md-4"></div>
				<label class="col-md-4 text-center">Price</label>
				<label class="col-md-4 text-center">Cost</label>
			</div>
			<div class="form-group">
				<label class="col-md-4">Labor</label>
				<div class="col-md-4">
					<input type="text" id="totalPriceLabor" class="form-control text-right" ng-model="quoteDtl.quote.TotalPriceLabor | number: 2" readonly />
				</div>
				<div class="col-md-4">
					<input type="text" id="totalCostLabor" class="form-control text-right" ng-model="quoteDtl.quote.TotalCostLabor | number: 2" readonly/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-4">Materials</label>
				<div class="col-md-4">
					<input type="text" id="totalPriceMaterials" class="form-control text-right" ng-model="quoteDtl.quote.TotalPriceMaterials | number: 2" readonly/>
				</div>
				<div class="col-md-4">
					<input type="text" id="totalCostMaterials" class="form-control text-right" ng-model="quoteDtl.quote.TotalCostMaterials | number: 2" readonly/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-4">Total</label>
				<div class="col-md-4">
					<input type="text" id="totalPricePretax" class="form-control text-right" ng-model="quoteDtl.quote.TotalPricePretax | number: 2" readonly/>
				</div>
				<div class="col-md-4">
					<input type="text" id="totalCost" class="form-control text-right" ng-model="quoteDtl.quote.TotalCost | number: 2" readonly/>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-12">
		<div id="quoteItemsGrid" class="grid" ui-grid="quoteDtl.gridConfig"></div>
	</div>
	<br/>
	<div class="form-group">
		<div class="col-md-12 text-right">
			<button type="button" class="btn btn-primary" ng-click="quoteDtl.addItem()">New</button>
		</div>
	</div>
</form>