<form name="quoteDtl.form" role="form" class="form-horizontal" save-registration>
	<br />
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="form-group">
				<label class="col-md-2" for="quoteTitle">Quote Title</label>
				<div class="col-md-10">
					<input type="text" id="quoteTitle" class="form-control" ng-model="quoteDtl.quote.Title" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-2">Prepared For</label>
				<div class="col-md-10">
					<p>{{quoteDtl.quote.CustomerName}} / {{quoteDtl.quote.PropertyName}}</p>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-12 panel panel-default">
		<div class="panel-body">
			<div class="col-md-4">
				<div class="form-group">
					<label class="col-md-4" for="type">Type</label>
					<div class="col-md-8">
						<select id="type" class="form-control" ng-model="quoteDtl.quote.Type" ng-options="type.Id as type.Name for type in quoteDtl.types"></select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-4" for="season">Season</label>
					<div class="col-md-8">
						<select id="season" class="form-control" ng-model="quoteDtl.quote.Season" ng-options="season.Id as season.Name for season in quoteDtl.seasons"></select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-4" for="contractTermYears">Status</label>
					<div class="col-md-8">
						<select id="status" class="form-control" ng-model="quoteDtl.quote.Status" ng-options="status.Id as status.Name for status in quoteDtl.statuses"></select>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label class="col-md-7">Year</label>
					<div class="col-md-5">
						<input type="text" id="contractYear" class="form-control text-right" ng-model="quoteDtl.quote.ContractYear" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-7">Term (Years)</label>
					<div class="col-md-5">
						<input type="text" id="contractTermYears" class="form-control text-right" ng-model="quoteDtl.quote.ContractTermYears" ng-change="quoteDtl.setIncrease()" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-7">Increase %</label>
					<div class="col-md-5">
						<input type="text" id="annualIncreasePercentage" class="form-control text-right" ng-model="quoteDtl.quote.AnnualIncreasePercentage" ng-disabled="quoteDtl.quote.ContractTermYears<=1" />
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label class="col-md-5"># Payments</label>
					<div class="col-md-4">
						<input type="text" id="numberOfPayments" class="form-control text-right" ng-model="quoteDtl.quote.NumberOfPayments" />
					</div>
					<div class="checkbox-inline">
						<label>
							<input type="checkbox" id="taxable" ng-model="quoteDtl.quote.Taxable" ng-change="quoteDtl.calculateTotals()" />Tax?
						</label>
					</div>

				</div>
				<div class="form-group">
					<label class="col-md-5">Billing Starts</label>
					<div class="col-md-7">
						<select id="billingStart" class="form-control" ng-model="quoteDtl.quote.BillingStart" ng-options="month.Id as month.Name for month in quoteDtl.months"></select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-5">Billing Day</label>
					<div class="col-md-7">
						<select id="billingDay" class="form-control" ng-model="quoteDtl.quote.BillingDay" ng-options="billingDay.Id as billingDay.Name for billingDay in quoteDtl.billingDays"></select>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-12 panel panel-default">
		<div class="panel-body">
			<div class="form-group">
				<label class="col-md-6">Labor</label>
				<div class="col-md-6">
					<input type="text" id="totalAmountLabor" class="form-control text-right" ng-model="quoteDtl.quote.TotalAmountLabor | number: 2" readonly />
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-6">Materials</label>
				<div class="col-md-6">
					<input type="text" id="totalAmountMaterials" class="form-control text-right" ng-model="quoteDtl.quote.TotalAmountMaterials | number: 2" readonly />
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-6">Total</label>
				<div class="col-md-6">
					<input type="text" id="totalAmountPretax" class="form-control text-right" ng-model="quoteDtl.quote.TotalAmountPretax | number: 2" readonly />
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-12">
		<div id="quoteItemsGrid" class="grid" ui-grid="quoteDtl.gridConfig"></div>
	</div>
</form>