<div class="modal-header">
	<h3 class="modal-title">New Quote</h3>
</div>
<div class="modal-body">
	<div class="row">
		<div class="form-group">
			<div class="row">
				<div class="col-md-12">
					<label>Property</label>
					<input type="text"
					       ng-model="ctrl.quote.PropertyName"
					       placeholder="Type the property name"
					       uib-typeahead="property.Name as property.Name for property in ctrl.getPropertiesByName($viewValue)"
					       typeahead-loading="ctrl.loadingProperties"
					       typeahead-no-results="ctrl.noResults"
					       typeahead-on-select="ctrl.propertySelected($item)"
					       class="form-control">
					<i ng-show="ctrl.loadingProperties" class="glyphicon glyphicon-refresh"></i>
					<div ng-show="ctrl.noResults">
						<div class="col-md-10 h5 text-right">
							<i class="fa fa-exclamation-circle fa-1x"></i> <span>Property not found! Add it?</span>
						</div>
						<div class="input-group-btn h5">
							<a class="btn" ng-click="editContact(ngModel)">
								<i class="fa fa-thumbs-o-up fa-1x"></i>
							</a><a class="btn" ng-click="editContact(ngModel)">
								<i class="fa fa-thumbs-o-down fa-1x"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<label>Customer</label>
					<ui-select ng-model="ctrl.quote.CustomerId" theme="bootstrap" ng-disabled="!ctrl.quote.PropertyId">
						<ui-select-match placeholder="Select a customer">{{$select.selected.Name}}</ui-select-match>
						<ui-select-choices repeat="customer.Id as customer in ctrl.customers | filter: $select.search ">
							<span ng-bind-html="customer.Name | highlight: $select.search"></span>
						</ui-select-choices>
					</ui-select>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<label>Type</label>
					<ui-select ng-model="ctrl.quote.Type" theme="bootstrap" ng-disabled="!ctrl.quote.PropertyId || !ctrl.quote.CustomerId">
						<ui-select-match placeholder="Select a type">{{$select.selected.Name}}</ui-select-match>
						<ui-select-choices repeat="quoteType.Id as quoteType in ctrl.quoteTypes | filter: $select.search ">
							<span ng-bind-html="quoteType.Name | highlight: $select.search"></span>
						</ui-select-choices>
					</ui-select>
				</div>
				<div class="col-md-4">
					<label>Season</label>
					<ui-select ng-model="ctrl.quote.Season" theme="bootstrap" ng-disabled="!ctrl.quote.PropertyId || !ctrl.quote.CustomerId">
						<ui-select-match placeholder="Select a season">{{$select.selected.Name}}</ui-select-match>
						<ui-select-choices repeat="season.Id as season in ctrl.seasons | filter: $select.search ">
							<span ng-bind-html="season.Name | highlight: $select.search"></span>
						</ui-select-choices>
					</ui-select>
				</div>
				<div class="col-md-4">
					<label>Year</label>
					<input type="text" class="form-control" ng-model="ctrl.quote.ContractYear" ng-disabled="!ctrl.quote.PropertyId || !ctrl.quote.CustomerId"/>
				</div>
			</div>
			<div class="row" ng-if="ctrl.quote.Type === 3">
				<div class="col-md-12">
					<label>Title</label>
					<input class="form-control" ng-model="ctrl.quote.Title" />
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary" ng-click="ctrl.save()">Save</button>
		<button type="button" class="btn btn-warning" ng-click="ctrl.cancel()">Cancel</button>
	</div>
</div>