<form role="form" class="form-horizontal">
	<div class="form-group" ng-if="!quote.hasPropertyId">
		<div class="col-md-9">
			<input ng-model="quote.searchText" class="form-control" ng-change="quote.filterGridData()" placeholder="Search...">
		</div>
		<div class="col-md-3 text-right">
			<button type="button" class="btn btn-info" ng-click="quote.add()">New</button>
		</div>
	</div>
	<div class="form-group form-group-sm">
		<div class="col-md-12">
			<div class="gridStyle" ui-grid="quote.gridConfig"></div>
		</div>
	</div>
</form>