<div class="modal-header">
	<h3 class="modal-title">Item Detail</h3>
</div>
<div class="modal-body">
	<div class="col-md-12">
		<div class="col-md-12">
			<label>Description</label>
			<textarea class="form-control" ng-model="ctrl.item.Description" rows="4"></textarea>
		</div>
	</div>
	<div class="col-md-12">
		<div class="col-md-4">
			<label>Labor</label>
			<select type="text" class="form-control" ng-model="ctrl.item.ServiceId"></select>
		</div>
		<div class="col-md-2">
			<label>Man Hours</label>
			<input type="text" class="form-control text-right" ng-model="ctrl.item.ServiceQuantity" />
		</div>
		<div class="col-md-2">
			<label>Unit Price</label>
			<input type="text" class="form-control text-right" ng-model="ctrl.item.ServiceUnitPrice" />
		</div>
		<div class="col-md-2">
			<label>Price</label>
			<input type="text" class="form-control text-right" ng-model="ctrl.item.ServicePrice" />
		</div>
	</div>
</div>
<br/>
<div class="modal-footer">
	<button type="button" class="btn btn-default" ng-click="ctrl.save()">Okay</button>
	<button type="button" class="btn btn-default" ng-click="ctrl.cancel()">Cancel</button>
</div>